.navigasi ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background: linear-gradient(to right, #ffffff -14%, #0066ff 100%);
}

.navigasi li {
    float: left;
}

.navigasi li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigasi li a:hover {
  background-color: #3399ff;
}

.bawah{
    background: linear-gradient(to right, #ffffff -14%, #0066ff 100%);
    padding-right: 500px;
}

.carousel{
    padding-top: 10px;
    border-radius: 5px;
    width: 750px;
    height: 700px;
}

